@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #595959;
	width: 100%;
}

.container {
  width: 80%;
  max-width: 44em;
  margin: 4em auto;
}
.title {
	font-size: 4em;
	padding: 0.5em;
}

input[type=checkbox] {
  display: none;
}
input:checked + label .close {
  transform: rotate(45deg);
}

.bayan {
  border-top: 0.25em solid #595959;
  padding: 1.9em;
  cursor: pointer;
	transition: .1s;
}
.bayan-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
	padding-bottom: 1em;
}
.bayan-block--title {
  margin: 0;
  font-size: 1.5em;
  color: #595959;
}
.close {
  opacity: 1;
  width: 1.5em;
  height: 1.5em;
  transition: all .8s ease;
}
input:checked + label .bayan-block--title {
  color: #000000;
}
.img {
  display: block;
  width: 100%;
  max-width: 40em;
  max-height: 0;
  margin: 0 auto;
  overflow: hidden;
  transition: 1s;
}

input:checked + label .img {
  max-height: 40em;
}
.bayan:active .bayan-block--title {
  color: #000000;
  transition: .1s;
}
.bayan:active .img, .bayan:active .close{
  opacity: 0.6;
  transition: .1s;
}
.bayan:active .close{
  fill: #000000;
  transition:0s;
}